<div class="container">
  <center><h1>Let us begin!</h1></center>
  <h2>First, please create your new account!</h2>

  <form action="/create_user" method="post">
  Name<br>
  <input type="text" style="color: black; background-color: cyan" cols="20" rows="5" placeholder="Enter your name here" name="users[user]"><br><br>
  Email<br>
  <input type="text" style="color: black; background-color: cyan" cols="20" rows="5" placeholder="Enter your email here" name="users[email]"><br><br>
  Password<br>
  <input type="password" style="color: black; background-color: cyan" cols="20" rows="5" placeholder="Enter your password here" name="users[password]"><br/><br/>
  <input type="submit" value="Create User">
</form>

</div>