<div class="container">
  <center><h1>Welcome to UMNO Sdn. Bhd., <%= @user.user %>!</h1></center>
  <hr>
  <br>
  Your email:
  <b><u>
      <%= @user.email %>
    </u></b><br><br>
  <hr>

      <center><h2><%= @property.property %></h2></center>

      <center><h3>Owner: <%= @tuan.user %></h3></center>

  Do you want to book it?

  <hr>

  <a href="/your_page">Get back to your page</a>
  <br/><br/>
</div>