<div class="container">
  <center><h1>Welcome to UMNO Sdn. Bhd.</h1></center>

  <h2>Please log in!</h2>

  <form action="/login" method="post">
  Email<br>
  <input type="text" style="color: black; background-color: cyan" cols="20" rows="5" placeholder="Enter your email here" name="user[email]"><br><br>
  Password<br>
  <input type="password" style="color: black; background-color: cyan" cols="20" rows="5" placeholder="Enter your password here" name="user[password]">
  <br/><br/>
  <input type="submit" value="Login">
</form>
<br>
 <a href="/create_user">Create new user</a><br/><br/>

<br/>